<div class="text-center">
  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username</label>

    <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="checkbox mb-3"> or
      <a routerLink="/register">register</a>
    </div>
  </form>
</div>
